.loading-indicator {
    display: block;
    width: 70px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    z-index: 100;
    background-color: #FFF;
}

.loading-indicator img {
    width: 70px;
    background-color: #FFF;
}

.ui-view-placeholder {
    margin-top: 60px;
}

.my-info {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #fff;
  padding: 8px 15px;
  margin: 8px 0;
}

.my-info-h2 a {
  color: #fff;
  text-decoration: underline;
}
